.footer {
  background-color: #2f303a;
  padding: 60px 0px;
  height: 252px;
}

.footer-menu {
  display: flex;
  flex-wrap: wrap;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  /* outline: 2px solid tomato; */
}

.logo-address {
  display: block;
  margin-right: 70px;
}

.footer-logo {
  display: block;
  margin-bottom: 20px;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #ffffff;
}

.contacts-address {
  margin: 0;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  letter-spacing: 0.03em;
  color: $white-color;
  text-decoration: none;
  font-style: normal;
}

.padding-zero {
  padding-left: 0;
  margin-top: 0px;
}

.contacts-item {
  display: block;
  margin-top: 9px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  text-decoration: none;
}
.social-list-footer {
  display: flex;
}

/* join */
.join-menu {
  display: block;
  margin-right: 93px;
}

.join {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
.footer-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: $white-color;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  :focus {
    background-color: $accent-color;
  }
}

.footer-link-logo {
  width: 20px;
  height: 20px;
  fill: $white-color;
}

/* Подписка */

.subscribe {
  display: block;
}

.footer-form label {
  display: block;
  margin-top: 0;
  margin-bottom: 20px;

  color: $white-color;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.subscribe input {
  width: 358px;
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 15px 16px;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
}

.form-field {
  display: flex;
}
.footer-form label {
  color: $white-color;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-btn {
  display: inline-flex;
  align-items: center;
  margin-left: 12px;
  color: $white-color;
  background-color: $accent-color;
  height: 50px;
  padding: 10px 29px;
  min-width: 200px;
  border-radius: 4px;
  border: 1px solid transparent;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}

.footer-btn-icon {
  margin-left: 10px;
}
