.logo {
  margin-right: 85px;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: $dark-color;
}

.web {
  color: $accent-color;
}
