$main-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$white-color: #ffffff;
$dark-color: #000000;
$icon-color: #afb1b8;

// TRANSITION
$time-animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
